.info {
			padding: 6px 8px;
			font: 14px/16px Arial, Helvetica, sans-serif;
			background: white;
			background: rgba(255,255,255,0.8);
			box-shadow: 0 0 15px rgba(0,0,0,0.2);
			border-radius: 5px;
		}

.info h4 {
			margin: 0 0 5px;
			color: #777;
		}

.legend_density {
			width: 155px;
			height: 180px;
			text-align: left;
			line-height: 18px;
			color: #555;
		}

.legend_density i {
			width: 18px;
			height: 18px;
			float: left;
			margin-right: 8px;
			opacity: 0.7;
		}


#tooltip {
  position:absolute;
  right: 100px;
  width:180px;
  height:auto;
  padding:10px;
  z-index:1000;
  display:none;
  background:white;
  border-color:#DDDDDD!important;
  font:normal 12px Arial!important;
  color:#666666!important;
}

#tooltip label {font-weight:bold;}	

.btn-group {
  float:right;
}

.container {
  display:block;
  width:auto;
  margin:0 10px;
} 
   

	
#layercontrol { list-style:none; margin:0; padding:0; border-top:2px solid #333; margin-top:3px; }
#layercontrol li { cursor:pointer; display:block; border-bottom:1px dotted #444; padding:6px 2px; font-weight:bold; }
#layercontrol li:last-child { border-bottom:none; }
#layercontrol label { padding-left:4px; cursor:pointer; }

#box {
  height:auto !important;
  width:auto !important;
  background-color: rgba(255, 255, 255, 0.95); 
  border-width: 2px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.8);
  background: transparent url(images/sfondo2.png) no-repeat center; 
	background-size: 100% 100%;
	-moz-box-shadow: 0 0 5px #444;
	-webkit-box-shadow: 0 0 5px #444;
	box-shadow: 0 0 5px #444;
  border-radius: 9px;
  padding: 10px;
  width: 230px;
  top: 140px;  
  left: 20px;
/*  bottom: 20px;  
  max-height: 710px;*/
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

p:last-child {
  margin-bottom: 0;
}

#box h2 {
  font-size: 24px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;  
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 10px;
}

#box #info h2 {
  margin-top: 0;
}

.help {
  padding-left: 10px;
  color: #999;
  font-size: 90%;
  font-weight:normal;
}

h3 {
  margin: 0px 0;
  text-align: right;
}

#box h2:before,
#box h2:after {
  position:relative;
  top: -4px;
}

#box h2:before {
  content:url('images/tilde_left.png');
  left: -4px;
}

#box h2:after {
  content:url('images/tilde_right.png');
  left: 4px;
}

#box h2 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}



.close2.closed {
  background-image: url('images/i.png');
  opacity: 0.4;
}

.close2:before {  
  display: block;
  left: 0;
  line-height: 20px;
  position: absolute;
  top: -2px;
  width: 25px;
}

.close2 {
  background-image: url('images/x.png');
  background-position: center center;
  background-color: black;
  background-repeat: no-repeat;
      
  position: fixed;
  top: 120px;
  left: 5px;  

  border: 2.27273px solid #FFFFFF;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0 0 6px #000000, 1.63636px 1.63636px 1.63636px rgba(0, 0, 0, 0.3), -1.63636px 1.63636px 1.63636px rgba(0, 0, 0, 0.3), 1.63636px -1.63636px 1.63636px rgba(0, 0, 0, 0.3), -1.63636px -1.63636px 1.63636px rgba(0, 0, 0, 0.3);
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  height: 0;
  overflow: hidden;
  padding: 25px 0 0;
  width: 25px;
  z-index: 999;
  opacity: 0.4;
}